body {
  background-color: #FDFFDB;
  font-family: "Lucida Sans Unicode", sans-serif;
}

button {
  width: 60px;
  height: 30px;
  border-top: none;
  border-left: none;
  border-radius: 15%;
  margin: 1px;
  box-shadow: 0 0 2px black;
  border-right: 2px solid #d06464;
  border-bottom: 2px solid #9d3131;
  background-color: #C53E3E;
  color: #34352D;
}

button:active {
  box-shadow: 0 0 1px black;
  border-right-width: 1px;
  border-bottom-width: 1px;
}

#title {
  text-align: center;
  font-size: 2.5em;
  margin-top: 0px;
  margin-bottom: 0px;
  color: #34352D;
  font-weight: bold;
}

.game-container {
  width: 350px;
  margin: auto;
  box-shadow: 0 0 6px 2px #474543, inset 0 0 8px 2px #303129;
  border-radius: 10px;
  background-color: #34352D;
}

.buttons-pad {
  height: 350px;
  margin-top: 5%;
  position: relative;
}

.game-btn {
  height: 150px;
  width: 150px;
  border-radius: 5px;
}

.green {
  position: absolute;
  top: 20px;
  left: 20px;
  background-color: #197619;
}

.green:active, .green-on {
  background-color: #5e9f5e;
  box-shadow: 0 0 2px 2px #5e9f5e;
}

.red {
  position: absolute;
  top: 20px;
  left: 180px;
  background-color:  #E71919;
}

.red:active, .red-on {
  background-color: #ee5e5e;
  box-shadow: 0 0 2px 2px #ee5e5e;
}

.yellow {
  position: absolute;
  top: 180px;
  left: 20px;
  background-color:  #FDDC0B;
}

.yellow:active, .yellow-on {
  background-color: #FDEA6C;
  box-shadow: 0 0 2px 2px #FDEA6C;
}

.blue {
  position: absolute;
  top: 180px;
  left: 180px;
  background-color:  #2f30c2;
}

.blue:active, .blue-on {
  background-color: #6d6ed4;
  box-shadow: 0 0 2px 2px #6d6ed4;
}

.controls-container {
  padding-bottom: 20px;
}

.controls {
  position: relative;
  width: 310px;
  height: 120px;
  margin-left: auto;
  margin-right: auto;
  border-radius: 5px;
  background-color:  #EDE7E2;
  box-shadow: inset 0 0 2px #313631;
}

.start {
  position: absolute;
  left: 20px;
  top: 70px;
  width: 80px;
}

.strict {
  position: absolute;
  top: 70px;
  right: 20px;
}

.strict-on {
  background-color: #ff3232;
  border-right: 2px solid #e52d2d;
  border-bottom: 2px solid #e52d2d;
}

.counter {
  position: absolute;
  left: 130px;
  width: 50px;
  border: 2px solid #34352D;
  border-radius: 5px;
  box-shadow: inset 0 0 2px #4e2929;
  text-align: center;
  font-family: Inconsolata, monospace;
  font-weight: bold;
  font-size: 1.4em;
  background-color:  #3B1212;
  color: #ff3232;
  padding-top: 15px;
  padding-bottom: 15px;
}
